<script>

    const formDelete = document.querySelector('#form-delete')
    formDelete.addEventListener("submit", function(event){
        const confirmation = confirm('Você Deseja Deletar?')
        if(!confirmation) {
            event.preventDefault()
        }
    } )

</script>